html {
	scroll-behavior: smooth; 
	/*определяет прокрутку блока, smooth(плавное), auto(резкое)*/
}
body {
	background-color: #b5a789;
	margin: 0px;
	text-align: center;
}
pre {
	padding: 0px 200px 0px 0px;
	margin: 15px 0px 0px 0px;
	transition-duration: 1s;
}
pre:hover {
	font-size: 16px;
	font-weight: 700;
}
#area {
	width: 800px;
	padding: 20px;
	background-color: #675c47;
	color: #646363;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 50px;
	box-shadow: 0 35px 55px rgb(0 0 0);
}
ul {
	list-style: none;
}
li {
	padding: 5px;
}
ul#nav li a {
	text-decoration: none;
	transition-duration: 1s;
}
ul#nav li a:hover {
	font-size: 25px;
	text-shadow: 4px 2px 5px rgb(56, 56, 56);
}
ul#nav li {
    display: inline;
    margin-right: 5px;
    border: 1px solid #000;
	border-radius: 3px;
    padding: 10px;
	
}
header,nav,main {
	margin: 15px 0px;
	border-radius: 3px;
	background-color: #efe5d0;
}
nav {
	padding: 5px;
}
footer#footer div {
	display: inline;
	color: #000;
}
.year {
	font-size: 20px;
}
.img {
	border-radius: 80px 10px;
	transition-duration: 1s;
}
.img:hover {
	width: 490px;
}
